{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static %}
{% block title %}
  {% if is_impersonating %}
    {{ object.title }} (as seen by {{ is_impersonating.username }})
  {% else %}
    {{ object.title }}
  {% endif %}
{% endblock %}

{% block data %}
{% get_current_language as LANGUAGE_CODE %}
data-language-code="{{ LANGUAGE_CODE }}"
data-profile-url="{% if user.is_anonymous %}{% url "auth_login" %}{% else %}{% url "profile" user.id %}{% endif %}"
data-leaderboard-url="{% url "leaderboard" %}"
data-current-rank="{{ current_rank|default:999999 }}"
data-exercise-id="{{object.id|default:0}}"
data-auth-login-url="{% url "auth_login" %}"
data-is-impersonating="{% if is_impersonating %}true{% else %}false{% endif %}"
{% endblock %}

{% block stylesheets %}
<link href="{% static 'css/codehilite.css' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block container %}
{% if is_impersonating %}
  <div class="alert alert-warning" role="alert">
    Exercise as seen by {{ is_impersonating.username }}.
  </div>
{% endif %}
{{ answer_form.media }}
<div class="row no-gutters" style="height: 100%">
  <div class="col-md-4" style="height: 100%; overflow: auto">
    <div class="style-info">
      <h1 class="exercise-title">{{ object.title }}</h1>
      <div class="signature">{% blocktrans with first_name=object.author.first_name last_name=object.author.last_name %}Created by {{ first_name }} {{ last_name }}{% endblocktrans %}</div>
      <div class="instructions">
        {{ object.wording|markdown_to_bootstrap }}
      </div>
    </div>
  </div>
  <div class="col-md-5 style-info" style="height: 100%; padding-left: .5em; padding-right: .5em">
    <form id="answer_form" action="#" method="post"
          style="height: 100%; display: flex; flex-direction: column; ">
        {% csrf_token %}
        <div class="fieldWrapper" style="flex: 1 1 auto">
            {{ answer_form.source_code }}
        </div>
        <div class="fieldWrapper" style="height: 0">
            {{ answer_form.exercise }}
        </div>
        <div style="flex: 0 1 auto; height: 4em; display: flex; align-items: center">
          <div style="">
            {% if not is_impersonating %}
            <button
              disabled
              id="submit_snippet"
              class="btn btn-secondary"
              data-toggle="tooltip"
              data-placement="bottom"
              data-delay="500"
              title="{% trans "Use this to execute your code, so you can try things." %}">
              {% trans "Run" %}
            </button>
            <button
              disabled
              id="submit_answer"
              class="btn btn-primary"
              data-toggle="tooltip"
              data-placement="bottom"
              data-delay="500"
              title="This runs automated tests to verify your implementation (also saves your code).&#013;Shortcut: Ctrl-Enter.">
              {% trans "Submit" %}
            </button>
            {% endif %}
          </div>
          <div style="margin-left: auto; margin-right: auto">
              <a id="solution_link" class="{% if not is_valid %}disabled{% endif %} btn btn-secondary"
                 href={{ object.get_solutions_absolute_url }}>{% blocktrans %}{{ solutions_qty }} solutions{% endblocktrans %}</a>

          </div>
          <div style="margin-right: 0; flex: 0 0 auto">
              {% if previous %}
              <a class="btn btn-secondary" href="{{ previous.get_absolute_url }}">
                ←
              </a>
              {% endif %}
              {% if next %}
              <a id="btn_next" class="btn btn-secondary" href="{{ next.get_absolute_url }}">
                →
              </a>
              {% endif %}
          </div>
        </div>
    </form>
  </div>
  <div class="col-md-3 style-info" style="height: 100%; overflow: auto">
    <div id="answers-result" class="result">
      <table id="answer-table" class="table" style="table-layout: fixed">
        {% for answer in answers %}
        <tr class="{% if answer.is_valid %}table-success{%else%}table-danger{% endif %}">
          <td id="td-{{ answer.id }}"
              data-answer-id="{{ answer.id }}"
              data-is-corrected="{{ answer.is_corrected }}"
              class="answer-cell">
            {% if not answer.is_corrected %}
              <img src="{% static "img/loading_anim.gif" %}" height=30> {% trans "Waiting for correction" %}
            {% else %}
              <div>
              {{ answer.correction_message|markdown_to_bootstrap }}
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<script src="{% static 'js/exercise.js' %}?v={{ version }}" type="text/javascript"></script>
{% endblock %}
