{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% blocktrans with name=team.name %}Team {{ name }}{% endblocktrans %}{% endblock %}

{% block container %}

<div class="row" style="height: 92%">
  <div class="col-md-8 offset-md-2" style="height: 100%">
    <h1 class="align-center">{% blocktrans with name=team.name %}Team {{ name }}{% endblocktrans %}</h1>
    {% if requester_membership.role == "ST" %}
      <a href="{% url 'team_stats' team.slug %}">Team stats</a>
    {% endif %}
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Points</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          {% if requester_membership.role == "ST" %}
          <th scope="col">Action</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for rank, membership in team.members_with_rank %}
        <tr class="{% if membership.user.username == user.username %}table-primary{% endif %}">
          <td scope="row">
            {{ rank }}
          </td>
          <td scope="row">
            {{ membership.user.points|floatformat:"0" }}
          </td>
          <td scope="row">
            {% if membership.user.public_profile %}
            {{ membership.user.username }}
            {% else %}
            (anonymous)
            {% endif %}
          </td>
          <td scope="row">
            {{ membership.get_role_display }}
          </td>
          {% if requester_membership.role == "ST" %}
          <td scope="row">
            {% if membership.user.username != requester_membership.user.username %}
            {% if membership.role == "MM" %}
            <form action="/teams/" method="post" class="form">
              {% csrf_token %}
              <input type="hidden" name="remove_from_team" value="{{ team.name }}" />
              <input type="hidden" name="member" value="{{ membership.user.username }}" />
              <button class="btn btn-sm btn-danger" type="submit">{% trans "Remove" %}</button>
            </form>
            {% endif %}
            {% if membership.role == "PE" %}
            <form action="/teams/" method="post" class="form" style="display: inline">
              {% csrf_token %}
              <input type="hidden" name="accept_in_team" value="{{ team.name }}" />
              <input type="hidden" name="member" value="{{ membership.user.username }}" />
              <button class="btn btn-sm btn-primary" type="submit">{% trans "Accept" %}</button>
            </form>
            <form action="/teams/" method="post" class="form" style="display: inline">
              {% csrf_token %}
              <input type="hidden" name="remove_from_team" value="{{ team.name }}" />
              <input type="hidden" name="member" value="{{ membership.user.username }}" />
              <button class="btn btn-sm btn-secondary" type="submit">{% trans "Reject" %}</button>
            </form>
            {% endif %}
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
